.ant-list-item.cryptocurrency-item{
  padding: 10px;
  cursor: pointer;
}
.ant-list-item.cryptocurrency-item > div > .ant-list-item-meta-avatar{
  justify-content: center;
}

.cryptocurrency-item:hover {
  background-color: #f1f3f5;
}